* {
    padding: 0;
    margin: 0;
}

#fondo_centro {
    background-image: url("../Imagenes/gplaypattern_@2X.png");
    background-repeat: repeat;
    border-radius: 20px;
    position: fixed;
    width: 70%;
    height: 60%;
    top: 30%;
    left: 15%;
    z-index: 1;
    box-sizing: border-box;
}

#fondo_centro_borde {
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
    border-radius: 20px;
    width: 70%;
    height: 60%;
    top: 30%;
    left: 15%;
    -webkit-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
}

body {
    background-image: url("../Imagenes/pw_maze_black_@2X.png");
    background-repeat: repeat;
}

.fondos {
    background-image: url("../Imagenes/pw_maze_black_@2X.png");
    background-repeat: repeat;
    position: fixed;
    z-index: 3;
}

#lat_der_fondo {
    width: 15%;
    left: 85%;
    height: 100%;
}

#lat_izq_fondo {
    width: 15%;
    height: 100%;
}

#sup_fondo {
    width: 70%;
    height: 30%;
    left: 15%;
}

#inf_fondo {
    width: 70%;
    height: 10%;
    top: 90%;
    left: 15%;
}

#contenedor_todo {
    position: absolute;
    left: 15%;
    top: 30%;
    height: 50%;
    width: 70%;
    z-index: 2;
    padding-top: 2em;
}

#prueba {
    height: 100px;
    width: 20%;
    background-color: black;
    margin-bottom: 2em;
}

#titulo {
    -webkit-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 4px solid #6b6b6b;
    position: fixed;
    left: 20%;
    height: 25%;
    width: 60%;
    box-sizing: border-box;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
    background-image: url("../Imagenes/gplaypattern_@2X.png");
    background-repeat: repeat;
    z-index: 4;
}

#letra-titulo {
    padding-top: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    font-weight: bold;
}

#descripcion-titulo {
    padding-top: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
}

@keyframes bioAnim {
    0% {
        top: 0;
    }
    100% {
        top: 50%;
    }
}

.articulo-izq {
    -webkit-perspective: 300px;
    -ms-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding-top: 0.4em;
    margin-bottom: 7em;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.articulo-der {
    -webkit-perspective: 300px;
    -ms-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-bottom: 7em;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.articulo-izq .descripcion {
    transform: rotateY(30deg);
    -webkit-transform: rotateY(30deg);
    -ms-transform: rotateY(30deg);
    -moz-transform: rotateY(30deg);
    position: absolute;
    left: 6.8%;
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 1em;
    box-sizing: border-box;
    background-image: url("../Imagenes/pw_maze_black_@2X.png");
    background-repeat: repeat;
}

.articulo-der .descripcion {
    transform: rotateY(-30deg);
    -webkit-transform: rotateY(-30deg);
    -ms-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    position: absolute;
    left: 73.2%;
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 1em;
    box-sizing: border-box;
    background-image: url("../Imagenes/pw_maze_black_@2X.png");
    background-repeat: repeat;
}

.articulo-izq .contenido {
    position: absolute;
    top: 50%;
    left: 64.45%;
    height: 85.8%;
    width: 71.1%;
    transform: translate(-50%, -48.5%);
    -webkit-transform: translate(-50%, -48.5%);
    -o-transform: translate(-50%, -48.5%);
    -ms-transform: translate(-50%, -48.5%);
    -moz-transform: translate(-50%, -48.5%);
    background-color: black;
    background-image: url("../Imagenes/pw_maze_black_@2X.png");
    background-repeat: repeat;
    color: white;
    border-left: 4px solid black;
    box-sizing: border-box;
    padding: 1em;
}

.articulo-der .contenido {
    position: absolute;
    background-color: black;
    background-image: url("../Imagenes/pw_maze_black_@2X.png");
    background-repeat: repeat;
    box-sizing: border-box;
    padding: 1em;
    height: 85.8%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: 71.1%;
    border-right: 4px solid black;
    color: white;
}

#texto_scroll {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
    color: white;
    position: fixed;
    z-index: 4;
    top: 90.2%;
    /* 92.5% */
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

#texto_scroll p {
    position: relative;
    display: inline-block;
    transition: animScroll 0.5s ease-in-out;
    -moz-transition: animScroll 0.5s ease-in-out;
    -ms-transition: animScroll 0.5s ease-in-out;
    -webkit-transition: animScroll 0.5s ease-in-out;
    -o-transition: animScroll 0.5s ease-in-out;
    animation: animScroll 1s infinite;
    -webkit-animation: animScroll 1s infinite;
}

@keyframes animScroll {
    0% {
        transform: translateY(25%);
    }
    50% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(25%);
    }
}

@-webkit-keyframes animScroll {
    0% {
        transform: translateY(25%);
    }
    50% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(25%);
    }
}

#bio {
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    width: 70%;
    border: 6px solid #ffffff;
    height: 40%;
    top: 95.7%;
    background-image: url("../Imagenes/pw_maze_black_@2X.png");
    background-repeat: repeat;
    z-index: 99999999999999999999;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-width: 35px;
    transition: top 0.5s linear;
    -moz-transition: top 0.5s linear;
    -ms-transition: top 0.5s linear;
    -webkit-transition: top 0.5s linear;
    -o-transition: top 0.5s linear;
    padding: 0 1em;
    color: white;
}

#bio:hover {
    top: 60%;
}

#bio td {
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    padding: 0.5em;
    padding-bottom: 0;
}

#bio img {
    position: relative;
    height: 225px;
    width: 175px;
}

#bio p {
    margin-top: 0.5em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 0.8em;
}